<!-- TAG -->>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<p<>, initial-scale=1.0">
    <title>PROJETO - SENAI</title>
</head>
<body>
    <h1>Meu senai</h1>
    <h2>Aula HTML</h2>
    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ea enim ad quidem repellendus maxime nemo dignissimos! Sunt magnam tempore, error quibusdam quia amet doloribus, eos, quod veniam at dolor!</h6>
        
    <p>Parágrafo.</p>
    
    <a href="aiweb6.fieb.org.br/framehtml/web/app/edu/PortalEducacional/login/">PORTAL DO ALUNO</a>
    <img src="senai-165.jpg" alt="Logo do Senai">

    <table border="10">
            <thead>
                <tr> <! -- row - linha -->
                    <th>Nome</th>
                    <th>Idade</th>th>
                    <th>Peso</th>
                    <th>Altura</th>
                </tr>
                <tr>
                    <td>Esdras</td>
                    <td>16 anos</td>
                    <td>60kg</td>
                    <td>1.71m</td>
                </tr>
            </head>
            <thead>
        </table>
        <br>
        <br>
            
                <br> <!-- Pula uma linha -->
                <hr><!-- Adiciona uma linha -->
                <a href="http://www.google.com.br">Google</a>
            </thead>
            </body>
            </html>