<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<p<>, initial-scale=1.0">
    <title>PROJETO - SENAI</title>
</head>
<body>
    <h1>TEXTO</h1>
    <h2>TEXTO</h2>
    <h3>TEXTO</h3>
    <h4>TEXTO</h4>
    <h5>TEXTO</h5>
    <h6>TEXTO</h6>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ea enim ad quidem repellendus maxime nemo dignissimos! Sunt magnam tempore, error quibusdam quia amet doloribus, eos, quod veniam at dolor!
        <table border="10">
            <thead>
                <tr> <! -- row - linha -->
                    <th>Nome</th>
                    <th>Idade</th>th>
                    <th>Peso</th>
                    <th>Altura</th>
                </tr>
                <tr>
                    <td>Esdras</td>
                    <td>16 anos</td>
                    <td>60kg</td>
                    <td>1.71m</td>
                </tr>
            </head>
            <thead>
        </table>
        <br>
        <br>
            <a href="aiweb6.fieb.org.br/framehtml/web/app/edu/PortalEducacional/login/">senaiweb</a>        
                <br> <!-- Pula uma linha -->
                <hr><!-- Adiciona uma linha -->
                <a href="http://www.google.com.br">Google</a>
                <img src="senai-165.jpg" alt="Logo do Senai">
            </thead>
            </body>
            </html>